
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.macbook-pro-16-1-KWp {
  width: 100%;
  height: 265.9rem;
  position: relative;
  overflow: hidden;
  background-color: #585353;
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU {
  box-sizing: border-box;
  padding: 10.8rem 7.9rem 10.8rem 18.1rem;
  width: 158.4rem;
  height: 97.7rem;
  position: absolute;
  left: 7.1rem;
  top: 5.8rem;
  display: flex;
  align-items: flex-start;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-1-bg.png');
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .home-hJQ {
  margin-right: 49.2rem;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #f7f4f4;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .about-m3N {
  margin: 0.5rem 9.3rem 0rem 0rem;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fffcfc;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i {
  margin-top: 1.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .skillset-B76 {
  margin: 0rem 10.4rem 14rem 0rem;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #fefcfc;
  font-family: Inika, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n {
  max-width: 57.9rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n-sub-0 {
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n-sub-1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n-sub-2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n-sub-3 {
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-16-1-KWp .auto-group-3dha-7xU .auto-group-sfp4-H1i .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n .hello-people-myself-atluri-dhanush-developer-ai-engineer-system-architect-V7n-sub-4 {
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
}
.macbook-pro-16-1-KWp .rectangle-1-s3n {
  width: 20.8rem;
  height: 8.5rem;
  position: absolute;
  left: 18.7rem;
  top: 13.9rem;
}
.macbook-pro-16-1-KWp .rectangle-1-s3n .rectangle-1-PH2 {
  width: 100%;
  height: 8.5rem;
  background-color: #1e1e1e;
}
.macbook-pro-16-1-KWp .rectangle-2-wZS {
  width: 20.8rem;
  height: 8.5rem;
  cursor: pointer;
  position: absolute;
  left: 75.7rem;
  top: 15.2rem;
}
.macbook-pro-16-1-KWp .rectangle-2-wZS .rectangle-2-sxt {
  width: 100%;
  height: 8.5rem;
  background-color: #1e1e1e;
}
.macbook-pro-16-1-KWp .rectangle-3-RzQ {
  width: 20.8rem;
  height: 8.5rem;
  position: absolute;
  left: 132.7rem;
  top: 15.7rem;
}
.macbook-pro-16-1-KWp .rectangle-3-RzQ .rectangle-3-moN {
  width: 100%;
  height: 8.5rem;
  background-color: #1e1e1e;
}
.macbook-pro-16-1-KWp .auto-group-8ucc-iic {
  width: 157.2rem;
  height: 90rem;
  position: absolute;
  left: 6.7rem;
  top: 141.3rem;
  display: flex;
  align-items: center;
}
.macbook-pro-16-1-KWp .auto-group-8ucc-iic .whatsapp-image-2023-04-12-at-1520-1-Sec {
  margin-right: 8.7rem;
  width: 82.8rem;
  height: 90rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.macbook-pro-16-1-KWp .auto-group-8ucc-iic .about-me-i-am-a-student-in-bachelor-of-technology-at-b-s-abdur-rahman-crescent-institute-of-science-and-technology-i-am-a-web-and-app-developer-i-am-also-an-system-architect-YxY {
  margin-bottom: 0.2rem;
  max-width: 65.7rem;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.3025;
  color: #ffffff;
  font-family: Inika, 'Source Sans Pro';
  flex-shrink: 0;
}
